build/
CMakeFiles
CMakeCache.txt
CMakeTestfile.cmake
Makefile
*.pyc
*.o
*.so
*.a
/CTestTestfile.cmake
/benchmark/CTestTestfile.cmake
/benchmark/asioudp
/benchmark/async_udp_server
/benchmark/blocking_udp
/benchmark/cmake_install.cmake
/benchmark/pipeserver
/benchmark/simplesynthsoma
/cmake_install.cmake
/synthsoma2/CTestTestfile.cmake
/synthsoma2/cmake_install.cmake
/synthsoma2/devices/CTestTestfile.cmake
/synthsoma2/devices/cmake_install.cmake
/tests/CTestTestfile.cmake
/tests/cmake_install.cmake
/tests/eventbus_test
/tests/eventrouter_test
/tests/neteventsender_test
/tests/runtest
/tests/simple_test
/tests/tsretxbuffer_test
